# Виртуальное окружение
.venv/
venv/
env/
ENV/

# Python (временные файлы компиляции)
__pycache__/
*.py[cod]
*$py.class

# База данных (обычно SQLite не заливают, чтобы не затирать данные на хостинге)
db.sqlite3

# Статика и медиа (на хостинге они собираются заново)
/media/

# Секретные файлы (пароли и ключи)
.env
local_settings.py

# Настройки IDE
.vscode/
.idea/

# Прочее
.DS_Store