<nav class="navbar navbar-expand-lg navbar-custom sticky-top">
    <div class="container">
        <a class="navbar-brand" href="/">
            📊 TourProfit <span style="color: var(--accent-pink);">Analytics</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link active" href="#">Главная</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Все туры</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Финансы</a></li>
                <li class="nav-item ms-3">
                    <a href="#" class="btn btn-outline-light btn-sm rounded-pill px-4">Войти</a>
                </li>
            </ul>
        </div>
    </div>
</nav>